@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Semi Condensed Semi Bold'), local('Barlow-Semi-Condensed-Semi-Bold'), url('../fonts/barlow-sb.ttf') format('truetype');
}
