<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <ul class="list-inline footer-logo">
          <li class="list-inline-item">
            <img src="images/logo.svg" alt="Subterráneo Logo" />
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-3 text-right">
      </div>
    </div>
  </div>
</footer>

<!-- script -->

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/timber.master.min.js" | prepend: site.baseurl }}"></script>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  document.execCommand("copy");
  alert("Texto copiado " + copyText.value);
}
</script>

<!-- Tooltip -->
<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
