
<!-- Nav -->
<div class="overlay-navigation-wrapper" data-no-scrollbar data-animation="scale-in">
<div class="overlay-navigation-scroll-pane">
  <div class="overlay-navigation-inner">

    <div class="v-align-middle">

      <div class="overlay-navigation-header row collapse full-width">
        <div class="column width-12">
          <div class="navigation-hide overlay-nav-hide">
            <a href="#">
              <span class="icon-cancel"></span>
            </a>
          </div>
        </div>
      </div>

      <div class="row collapse full-width">
        <div class="column width-12">
          <nav class="overlay-navigation nav-block center">
            <ul>
              <li>
                <a href="index.html">Inicio</a>
              </li>
              <li>
                <a href="about.html">¿Quiénes somos?</a>
              </li>
              <li>
                <a href="aliados.html">Aliados</a>
              </li>
              <li>
                <a href="faq.html">Preguntas frecuentes</a>
              </li>
              <li>
                <a href="denuncia.html">Cómo denunciar</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="overlay-navigation-footer row full-width center">
        <div class="column width-12 no-padding">
          <p class="copyright">&copy; Chileleaks. Un proyecto de Ciudadanía Inteligente</p>
        </div>
      </div>

    </div>

  </div>
</div>
</div>

<!-- Nav -->


<div class="wrapper reveal-side-navigation">
<div class="wrapper-inner">

<!-- Header -->

  <header class="header header-absolute header-fixed-on-mobile" data-sticky-threshold="100" data-bkg-threshold="100">

    <div class="header-inner">
      <div class="row nav-bar">
        <div class="column width-12 nav-bar-inner">
          <a href="index.html">
          <div class="logo">
            <div class="logo-inner">
            <img src="images/logo.svg" alt="Subterráneo Logo" />
            </div>
          </div>
        </a>

          <nav class="navigation nav-block secondary-navigation nav-right">
            <ul>
              <li>
                <div class="v-align-middle">
                  <span class="hide-on-mobile">
                    <a href="denuncia.html" style="background-color:#FF4F04;border-color:#FF4F04;color:white" class="button medium text-uppercase pull-right no-margin-bottom"><strong>Denunciá aquí</strong></span></a>
                </div>
              </li>

              <li class="aux-navigation hide">
                <a href="#" class="navigation-show overlay-nav-show nav-icon"><span class="icon-menu"></span></a>
              </li>
            </ul>
          </nav>

          <nav class="navigation nav-block primary-navigation nav-center">
            <ul>
              <li>
                <a href="index.html">Inicio</a>
              </li>
              <li>
                <a href="about.html">Quiénes somos</a>
              <li>
                <li class="Current">
                  <a href="aliados.html">Aliados</a>
                </li>
                <li>
                <a href="faq.html">Preguntas frecuentes</a>
              </li>
            </ul>
          </nav>

        </div>
      </div>
    </div>
  </header>
</div>
</div>
<!-- Header End -->
