---
layout: default
---

<!-- Content -->
			<div class="content clearfix">

<!-- About Chileleaks -->
				<section class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-parallax-fade-out data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#00000" data-overlay-bkg-opacity="0.05">
								<div class="tms-content">
									<div class="tms-content-inner v-align-middle">
										<div class="row">
											<div class="column width-10 offset-1 pd-20 center">

												<div class="clear"></div>
												<h3 class="tms-caption title-large  lspacing-medium weight-bold color-white mb-10"
													data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
													data-no-scale>Subterráneo es un espacio seguro para denunciar casos de corrupción.</h3>
												<div class="clear"></div>

											</div>
										</div>
									</div>
								</div>
								<div class="tms-caption"
									data-animate-in="preset:slideInUpShort;duration:1000ms;delay:1000ms;"
									data-x="center"
									data-y="bottom"
									data-offsety="50">
									<a href="#about" class="icon-circled icon-down-open-mini medium scroll-link border-white bkg-hover-theme color-white color-hover-white no-margins" data-offset="-60"></a>
								</div>
								<img data-src="images/slide-about.jpg" data-retina src="images/slide-about.jpg" alt=""/>
							</li>
						</ul>
					</div>
				</section>
<!-- About Chileleaks -->

<!-- About Ciudadano inteligente-->


					<div id="about" class="section-block pb-0">
						<div class="row">
							<div class="column width-6 offset-3 center">
								<h2 class="mb-40"><strong>Subterráneo</strong></h2>
							</div>
							<div class="column width-8 offset-2 center">
								<p>Subterráneo está formado por un grupo de activistas nicaragüenses cuyo objetivo es garantizar un espacio seguro de denuncias para casos de corrupción. Este es un proyecto creado con el apoyo de Fundación Ciudadanía Inteligente, una organización sin fines de lucro que busca fortalecer las democracias en Latinoamérica mediante el uso innovador de la tecnología y la promoción de la transparencia. Podés leer
									<a href="https://ciudadaniai.org">más sobre ellos aquí.</a>.
								</p>
							</div>
						</div>
					</div>

<!-- Aliados logos-->
				<div class="section-block logos-1 pt-50">
					<div class="row">
						<div class="column width-12 center">
							<h6 class="mb-20 text-uppercase weight-bold color-grey-light">Aliados</h6>
							<div class="row content-grid-5 opacity-07">



								<div class="grid-item">
									<a href="https://confidencial.com.ni/" target="_blank">
										<img src="images/aliados/confidencial-r.png" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="https://www.laprensa.com.ni" target="_blank">
										<img src="images/aliados/laprensa-r.png" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="https://www.nacion.com" target="_blank">
										<img src="images/aliados/lanacion-r.png" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="https://www.horacero.org" target="_blank">
										<img src="images/aliados/horacero-r.png" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="https://www.nicaraguainvestiga.com/" target="_blank">
										<img src="images/aliados/niinvestiga-r.png" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="https://www.globaleaks.org/es/" target="_blank">
										<img src="images/aliados/globalleaks-r.png" alt=""/>
									</a>
								</div>

								<div class="grid-item">
									<a href="https://ciudadaniai.org/" target="_blank">
										<img src="images/aliados/ciudadaniai-r.png" alt=""/>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
<!-- Aliados logos-->

		</div>
