---
layout: default
---

--- layout: default ---


<!-- Aliados -->
<div class="section-block pb-0"></div>
<!-- Intro End -->
<div class="row">
    <div class="column width-4">
        <h2 class="mb-20">Aliados</h2>
        <div class="row">
            <div class="column width-4">
                <div class="grid-filter-menu list-vertical no-padding left mb-mobile-50">
                    <ul>

                        <li><a class="active inline" href="#" data-filter="*">Todos</a></li>
                        <li><a href="#" class="inline" data-filter=".medios">Medios aliados</a></li>
                        <li><a href="#" class="inline" data-filter=".apoyo">Apoyo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="column width-6">
        <div class="grid-container fade-in-progressively no-margins" data-layout-mode="masonry" data-grid-ratio="1" data-animate-filter-duration="700" data-animate-resize data-animate-resize-duration="0.8">
            <div class="row">
                <div class="column width-12">
                    <div class="row grid content-grid-3">
                        <div class="grid-item grid-sizer medios">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://confidencial.com.ni/" target="_blank">
																			<img src="images/aliados/confidencial.png" alt=""/>

																		</a>
                            </div>
                        </div>

                        <div class="grid-item grid-sizer medios">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://www.laprensa.com.ni" target="_blank">
																			<img src="images/aliados/laprensa.png" alt=""/>

																		</a>
                            </div>
                        </div>


                        <div class="grid-item grid-sizer medios">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://www.nacion.com" target="_blank">
																			<img src="images/aliados/lanacion.png" alt=""/>

																		</a>
                            </div>
                        </div>

                        <div class="grid-item grid-sizer medios">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://www.horacero.org" target="_blank">
																			<img src="images/aliados/horacero.png" alt=""/>

																		</a>
                            </div>
                        </div>


                        <div class="grid-item grid-sizer medios">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://www.nicaraguainvestiga.com/" target="_blank">
																			<img src="images/aliados/niinvestiga.png" alt=""/>

																		</a>
                            </div>
                        </div>




                        <div class="grid-item grid-sizer apoyo">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://www.globaleaks.org/es/" target="_blank">
																																																			<img src="images/aliados/globalleaks.png" alt=""/>

																																																		</a>
                            </div>
                        </div>

                        <div class="grid-item grid-sizer apoyo">
                            <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="500" data-hover-bkg-color="#232323" data-hover-bkg-opacity="0.85">
                                <a href="https://ciudadaniai.org/" target="_blank">
																																																			<img src="images/aliados/ciudadaniai.png" alt=""/>

																																																		</a>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
