---
layout: default
---

<!-- Contenido -->
<div class="section-block replicable-content">

	<!-- Pasos 01-05 -->
	<div class="row">
		<div class="column width-10 offset-1">
			<div class="tabs horizontal center style-2">
				<ul class="tab-nav">


					<li class="active">
						<a href="#tabs-1-pane-1"><span><strong>1)</strong> Las pruebas </span> </a>
					</li>
					<li>
						<a href="#tabs-1-pane-2"><span><strong>2)</strong> Recomendaciones de seguridad</span> </a>
					</li>
					<li>
						<a href="#tabs-1-pane-3"><span><strong>3)</strong> Denuncia</span>   </a>
					</li>
					<li>
						<a href="#tabs-1-pane-4"><span><strong>4)</strong> Seguimiento del caso</span>  </a>
					</li>
				</ul>
				<div class="tab-panes">



					<!-- Paso 01 -->
					<div id="tabs-1-pane-1" class="active animate">
						<div class="tab-content pt-0">
							<h2><strong>Prepará tu denuncia</strong></h2>
							<img src="images/paso-01.png">
							<p class="lead mt-20" >Reuní cualquier tipo de evidencia que te permita investigar y probar los casos de corrupción. <br><i>Pueden ser audios, videos, fotografías, texto o declaraciones y otros datos que sirvan para contextualizar tu denuncia.</i> </p>
						</div>
					</div>

					<!-- Paso 02 -->
					<div id="tabs-1-pane-2">
						<div id="tabs-1-pane-2" class="active animate">
							<div class="tab-content pt-0">
								<h2><strong>Protégete usando Tor</strong></h2>
								<img src="images/paso-02.png">
								<p class="lead mt-20">No utilices la computadora de tu centro de trabajo para filtrar información.<br>
Analiza quien más tiene acceso a la información que querés filtrar para saber si serás o no la única persona sospechosa.<br>
Tu anonimato y tu seguridad deben seguir siendo protegidos después de realizada la denuncia. No hacer publicaciones sobre tu denuncia en redes sociales, ni comentarla con cercanos, sobre todo si tienen algún vínculo con el caso.
</p>


<a data-content="inline" href="https://www.torproject.org/download/download-easy.html.es" target="_blank" class="button button bkg-theme bkg-hover-yellow color-black color-hover-white"><strong>Link para descargar Tor</strong></a>

							</div>
						</div>
					</div>
					<!-- Paso 03 -->
					<div id="tabs-1-pane-3">
						<div id="tabs-1-pane-3" class="active animate">
							<div class="tab-content pt-0">
								<h2><strong>Subí la denuncia desde Tor</strong> </h2>
								<img src="images/paso-03.png">
								<p class="lead mt-20" >
									Entra al formulario de denuncia desde el navegador Tor.<br>
									Completa la información sobre el caso y adjunta documentos de evidencia.<br>
<h4><strong>Copia este link y abrilo en Tor</strong></h4>


<div style="padding-bottom:10px"> <button onclick="myFunction()" style="background-color:#FF4F04;border-color:#FF4F04"><i class="fas fa-link" style="color:white"></i> <strong style="color:white">Copiar link para ingresar a Tor</strong></button>
<input style="width:50%;text-align:center" type="text" value="j4bamlgqpfln2757.onion" id="myInput">
</div>


											</div>
										</div>
					</div>
					<!-- Paso 04 -->
					<div id="tabs-1-pane-4">
														<div id="tabs-1-pane-4" class="active animate">
															<div class="tab-content pt-0">
																<h2><strong>Guardá tu código de seguimiento</strong></h2>
																<img src="images/paso-04.png">
																<p class="lead mt-20" >
																	Anota en algún lugar seguro el <strong>código</strong> que se te entregará al enviar tu denuncia.<br>
																	<strong>Es la única forma que tenés para hacer un seguimiento a tu caso.</strong>
																</p>
															</div>
														</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
