---
layout: default
---

<!-- Intro -->
<div class="section-block pb-0"></div>
<!-- Intro End -->

<!-- Accordions Style Default -->
<div class="section-block pt-0 pb-0">
    <div class="row">
        <div class="column width-6">
            <h2 class="mb-20">Preguntas frecuentes</h2>
        </div>
        <div class="column width-12">
            <div class="accordion mb-50">
                <ul>

                    <li>
                        <a href="#accordion-1-panel-1" style="font-size:14px"><strong>01 </strong>¿Qué es Subterráneo?</a>
                        <div id="accordion-1-panel-1">
                            <div class="accordion-content">

                                <p>Subterráneo es una plataforma online y segura para denunciar casos de corrupción en Nicaragua. Las denuncias aquí presentadas serán completamente anónimas, incluso para el equipo de Subterráneo, solo podrán tener acceso a ellas los medios de comunicación seleccionados por el denunciante para que investiguen el caso.
                                </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-2" style="font-size:14px"><strong>02 </strong>¿Cómo funciona Subterráneo?</a>
                        <div id="accordion-1-panel-2">
                            <div class="accordion-content">

                                <p>Subterráneo recibe denuncias de forma digital a través de <strong>un formulario</strong>. Una vez que la denuncia está hecha, la o el denunciante recibe un código de denuncia que debe guardar en un lugar seguro. Con ese código, puede volver a entrar a la plataforma y revisar cuál es el estado de su denuncia. Al momento de llenar el formulario, quien está haciendo la denuncia debe elegir <strong>qué medio de comunicación</strong> le gustaría para investigar su caso. Una vez que el medio recibe la denuncia y revisa la evidencia adjunta, decide si investigar o no el caso. Cada medio se hace responsable de investigar cada caso a profundidad, y de verificar que la información denunciada sea correcta. La única forma que tiene el medio de contactarse con el denunciante es a través de la plataforma, donde puede intercambiar mensajes con la o el denunciante a través de su código de denuncia. Si el medio elegido decide no tomar el caso, le avisará a la o el denunciante para que este pueda elegir otro medio.
                                </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-3" style="font-size:14px"><strong>03 </strong>¿Por qué debería denunciar? </a>
                        <div id="accordion-1-panel-3">
                            <div class="accordion-content">
                                <p>La corrupción afecta la vida de todas y todos, incluso si no estamos conscientes de ello. Estos delitos provocan que las autoridades no sirvan a los intereses de la ciudadanía, sino que a los intereses de unos pocos, y hacen que el dinero de todo un país quede en las manos de unos cuantos. Por esto, denunciar la corrupción es un deber de toda la ciudadanía para proteger el presente y el futuro de nuestro país.
                                </p>
                            </div>
                        </div>
                    </li>




                    <li>
                        <a href="#accordion-1-panel-4" style="font-size:14px"><strong>04 </strong>¿Qué tipo de denuncias recibe Subterráneo?  </a>
                        <div id="accordion-1-panel-4">
                            <div class="accordion-content">
                                <p>Por el momento la plataforma recibe denuncias de corrupción gubernamental donde estén involucrados autoridades, empresas y miembros del partido gobernante que han tomado acciones de enriquecimiento ilícito, nepotismo, tráfico de influencias y abuso de poder. Recibimos cualquier tipo de evidencia que permita investigar y probar estos delitos (documentos de texto, balances contables, boletas, fotografías, videos, etc).
                                </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-5" style="font-size:14px"><strong>05 </strong> ¿Qué tipo de denuncias no recibe Subterráneo?  </a>
                        <div id="accordion-1-panel-5">
                            <div class="accordion-content">
                                <p>Subterráneo no recibe denuncias que no completen de forma exhaustiva y coherente el formulario de denuncia. Además, si la denuncia no cuenta con la evidencia necesaria para probar o investigar la veracidad del caso, es poco probable que algún medio de comunicación decida investigarla.
                                </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-6" style="font-size:14px"><strong>06 </strong> ¿Cómo hago una denuncia en Subterráneo?</a>
                        <div id="accordion-1-panel-6">
                            <div class="accordion-content">
                                <p>Abrí TOR <a href="https://www.torproject.org/download/download-easy.html.es" target="_blank"><strong>(podés descargarlo aquí)</strong></a>, copiá el siguiente enlace <strong>j4bamlgqpfln2757.onion</strong> y pegalo en el navegador. Una vez que entrés a nuestra página, llená el formulario de denuncia y respondé todas las preguntas para subir la evidencia que pruebe el caso que estás exponiendo.
                                </p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#accordion-1-panel-7" style="font-size:14px"><strong>07 </strong> ¿Qué información necesito para denunciar?</a>
                        <div id="accordion-1-panel-7">
                            <div class="accordion-content">
                                <p>Para denunciar debés adjuntar evidencia de cualquier tipo que permita probar los hechos de corrupción o al menos entregar antecedentes suficientes para que poder iniciar una investigación. Además, al llenar el formulario debés entregar información sobre qué ocurrió, dónde y quienes son las o los involucrados.
                                </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-8" style="font-size:14px"><strong>08 </strong> ¿A qué se refieren cuando dicen que debo presentar evidencia?</a>
                        <div id="accordion-1-panel-8">
                            <div class="accordion-content">
                                <p>La única forma de que tu denuncia pueda ser considerada por medios de comunicación es si viene con evidencia que permita probar el delito o falta que estás denunciando. Esto puede ser fotografías, videos, documentos escaneados (PDF), capturas de pantalla, documentos de textos, hojas de excel, facturas, registros contables, etc. Si no tenés la evidencia, te pedimos que nos indiqués dónde buscarla, para que pueda realizarse la investigación necesaria.
                                </p>
                            </div>
                        </div>
                    </li>




                    <li>
                        <a href="#accordion-1-panel-9" style="font-size:14px"><strong>09 </strong> ¿Qué precauciones debo tomar para subir mi denuncia?</a>
                        <div id="accordion-1-panel-9">
                            <div class="accordion-content">
                                <p>Antes de subir cualquier evidencia a nuestro formulario, recordá seguir estas <a href="denuncia.html" target="_blank"><strong>recomendaciones de seguridad</strong>.</a>, para resguardar tu identidad.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#accordion-1-panel-10" style="font-size:14px"><strong>10 </strong> ¿Cómo protege Subterráneo mi anonimato?
					</a>
                        <div id="accordion-1-panel-10">
                            <div class="accordion-content">

                                <p>Subterráneo no exige ningún tipo de dato personal para realizar tu denuncia. Al obligar el uso del navegador TOR para denunciar, nos aseguramos de que tu actividad en Internet no pueda ser rastreada por compañías o individuos. Además, sugerimos a las y los denunciantes sólo hacer denuncias desde computadores personales, y nunca alertar en redes sociales o a conocidos sobre la denuncia que se realizó. Siguiendo estos pasos tu identidad se mantiene protegida a menos que vos decidás revelarla, evaluando la consecuencia de esta acción y sus posibles implicaciones legales.
                                </p>
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-12" style="font-size:14px"><strong>11 </strong>¿Qué es TOR? </a>
                        <div id="accordion-1-panel-12">
                            <div class="accordion-content">
                                <p>TOR es un navegador web (como Internet Explorer, Google Chrome o Mozilla Firefox) ultra seguro, porque impide que tu actividad en Internet sea rastreada por otros. Si querés saber más información de TOR y cómo instalarlo
                                    <a href="https://www.torproject.org/download/download-easy.html.es" target="_blank"><strong>entra aquí</strong></a>.
                            </div>
                        </div>
                    </li>



                    <li>
                        <a href="#accordion-1-panel-13" style="font-size:14px"><strong>12 </strong>¿Por qué tengo que usar Tor? </a>
                        <div id="accordion-1-panel-13">
                            <div class="accordion-content">
                                <p>Tu seguridad y anonimato es lo más importante. Los navegadores como Chrome, Explorer, Safari, Firefox, etc, NO SON SEGUROS. Una denuncia completamente anónima solo es posible usando TOR.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#accordion-1-panel-14" style="font-size:14px"><strong>13 </strong> ¿Qué pasa después de que hago mi denuncia?
									</a>
                        <div id="accordion-1-panel-14">
                            <div class="accordion-content">

                                <p>Una vez hecha tu denuncia, nuestro formulario en TOR te entrega un código de seguimiento, que debés anotar en un lugar seguro. Solamente con ese código que podrás entrar de nuevo a la plataforma de Subterráneo en TOR y ver en qué estado está tu denuncia. Si tu caso es tomado por un medio de comunicación para ser investigado, será ese código el que te permita entregar más información al equipo de prensa, de ser necesaria.
                                    <p><strong> Es importante que no olvides ingresar constantemente a la plataforma de denuncia desde TOR si querés conocer el estado de tu denuncia.</strong></p>


                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#accordion-1-panel-15" style="font-size:14px"><strong>14 </strong>¿Qué es el código de denuncia y por qué debo guardarlo?
										</a>
                        <div id="accordion-1-panel-15">
                            <div class="accordion-content">

                                <p>El código de denuncia es el número que identifica tu caso. Lo debés guardar porque es la única forma en la que podés hacer seguimiento de tu denuncia y su progreso. Asimismo, es la única forma en la que el medio de comunicación puede contactarse con vos de necesitar información sobre el caso. Subterráneo no contacta denunciantes por correo electrónico, teléfono, o cualquier otra forma que no sea la plataforma de denuncia en TOR, por lo que es importante que revisés sistemáticamente la plataforma para enterarte de cualquier avance o pregunta.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#accordion-1-panel-16" style="font-size:14px"><strong>15 </strong>¿Cómo hago seguimiento de mi caso?
										</a>
                        <div id="accordion-1-panel-16">
                            <div class="accordion-content">

                                <p>Una vez enviada la denuncia, te entregaremos un código de seguimiento que podrás usar para revisar tu caso, entregar más evidencia o contactar al medio que realiza la investigación. Es la única vía segura de comunicación.
                                </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a href="#accordion-1-panel-17" style="font-size:14px"><strong>16 </strong>¿Quién investiga las denuncias?	</a>
                        <div id="accordion-1-panel-17">
                            <div class="accordion-content">
                                <p>El proceso de investigación lo hacen los medios que integran la alianza Subterráneo. Al momento de subir tú denuncia, podés elegir qué medio preferís que investigue tu caso. Son los medios quienes se aseguran de analizar en profundidad cada caso y de publicar sólo aquellos en los que hay evidencia suficiente para respaldar la denuncia. Podés conocer nuestros medios aliados
                                  <a href="about.html" target="_blank"><strong> aquí</strong></a>.
                                </p>
                            </div>
                        </div>
                    </li>


                    <li>
                        <a href="#accordion-1-panel-18" style="font-size:14px"><strong>17 </strong> ¿Todas las denuncias que recibe Subterráneo serán publicadas?
									</a>
                        <div id="accordion-1-panel-18">
                            <div class="accordion-content">

                                <p>No necesariamente. Cada medio recibe a través de una plataforma segura las denuncias dirigidas a ellos. Queda a criterio de cada medio el definir si estas denuncias son de su interés para investigarlas, y (si son investigadas) si cumplen con estándares de veracidad que permitan su publicación.
                                </p>
                            </div>
                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>
