---
layout: default
---

<!-- Content -->
			<div class="content clearfix">

<!-- About Chileleaks -->
				<section class="section-block featured-media window-height tm-slider-parallax-container">
					<div class="tm-slider-container full-width-slider" data-featured-slider data-parallax data-parallax-fade-out data-scale-under="960">
						<ul class="tms-slides">
							<li class="tms-slide" data-image data-force-fit data-overlay-bkg-color="#00000" data-overlay-bkg-opacity="0.05">
								<div class="tms-content">
									<div class="tms-content-inner v-align-middle">
										<div class="row">
											<div class="column width-10 offset-1 pd-20 center">

												<div class="clear"></div>
												<h3 class="tms-caption title-large  lspacing-medium weight-bold color-white mb-10"
													data-animate-in="preset:slideInDownShort;duration:900ms;delay:300ms;"
													data-no-scale>Denunciá de forma segura y anónima los casos de corrupción </h3>
												<div class="clear"></div>
												<div class="tms-caption" data-animate-in="preset:scaleIn;duration:900ms;delay:1200ms;" data-no-scale> <a href="https://player.vimeo.com/video/394217107?autoplay=1&title=0&byline=0&portrait=0" class="button border-hover-Transparent color-white color-hover-grey" style="font-size:18px;color:white;border-width:1.5px;" target="_blank">	<span style="font-size:18px;color:white;font-weight:800;" class="icon-play left"></span>Ver video</a>
													</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tms-caption"
									data-animate-in="preset:slideInUpShort;duration:1000ms;delay:1000ms;"
									data-x="center"
									data-y="bottom"
									data-offsety="50">
									<a href="#home" class="icon-circled icon-down-open-mini medium scroll-link border-white bkg-hover-theme color-white color-hover-white no-margins" data-offset="-60"></a>
								</div>
								<img data-src="images/slide-home.gif" data-retina alt=""/>
							</li>
						</ul>
					</div>
				</section>

<!-- Hero-->

<!-- Qué es Chileleaks - denuncias - cohecho -informacion denuncia -->
<div id="home" class="section-block replicable-content">
    <div class="row flex mt-30">

        <div class="column width-10 offset-1 center">
            <div class="mb-30"><img src="images/logo-big.svg" alt="subterraneo-logo" /></div>
            <div class="clear"></div>
            <p class="lead mb-30">Subterráneo es una plataforma segura para denunciar casos de corrupción en Nicaragua. Ahora que la libertad se encuentra amordazada, vos podés ayudar al periodismo independiente a decir lo que otros no pueden. Si tenés datos y/o pruebas sobre corrupción estatal,
                <a href=denuncia.html>podés denunciar aquí</a>.</p>
        </div>

        <div class="column width-4 offset-2">
            <div class="feature-column box small bkg-white mb-50 left">
                <i class="fas fa-check"></i>
                <div class="feature-text">
                    <h4>¿Qué casos puedo denunciar?</h4>
                    <p>Podés denunciar casos de <strong>corrupción política</strong>, entendiendo esto como los casos donde funcionarios y figuras públicas abusan de su poder para hacer mal uso de los recursos financieros y humanos que tienen a su disposición. Las formas de corrupción son muy diversas, y van desde el tráfico de influencias, la malversación de fondos, alianzas corruptas entre el estado y las empresas, el nepotismo y las violaciones de derechos humanos y laborales. </p>
                </div>
            </div>
        </div>

        <div class="column width-4">
            <div class="feature-column box small bkg-white mb-50 left">
                <i class="fas fa-check"></i>
                <div class="feature-text">
                    <h4>¿Qué información debo tener para denunciar? </h4>
                    <p><strong>Descripción del caso:</strong> Quiénes son las personas involucradas, cuál fue la falta cometida y cualquier otro dato que sirva para contextualizar la denuncia.
                        <div class="clear"></div>
                        <strong>Evidencia:</strong> Pruebas que ayuden a verificar la veracidad de la denuncia. Pueden ser documentos oficiales, registros contables, hojas de cálculo, capturas de pantalla de correos electrónicos, videos, etc.
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Qué es Chileleaks - denuncias - cohecho -informacion denuncia -->



<section id="comofunciona">

    <!-- Como funciona-->
    <!-- 01-->
    <div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
        <h6 class="mb-20 text-uppercase weight-bold color-grey-light">Cómo funciona</h6>

        <div class="row">
            <div class="column width-6 offset-3">
                <div class="feature-content">
                    <div class="feature-content-inner pt-50">
                        <h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.1;rotate:none;"><strong>01</strong></h4>
                        <h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">Descargá Tor y entrá al sitio seguro desde este enlace:</h2>
                    </div>
                </div>
                <div style="padding-bottom:30px"> <button onclick="myFunction()" style="background-color:#FF4F04;border-color:#FF4F04"><i class="fas fa-link" style="color:white"></i> <strong style="color:white">Copiar link para ingresar a Tor</strong></button>
                    <input style="width:50%;text-align:center" type="text" value="j4bamlgqpfln2757.onion" id="myInput">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column width-12">
                <div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
                    <img src="images/como-01.png" width="500" alt="" />
                </div>
            </div>
        </div>
    </div>

    <!-- 02-->
    <div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
        <div class="row">
            <div class="column width-8 offset-2">
                <div class="feature-content">
                    <div class="feature-content-inner pt-50">
                        <h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>02</strong></h4>
                        <h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">Llená el formulario y subí la evidencia a la plataforma</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column width-12">
                <div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
                    <img src="images/como-02.png" width="500" alt="" />
                </div>
                <u><a href="denuncia.html">Revisá los requerimientos.</a></u>
            </div>
        </div>
    </div>

    <!-- 03-->
    <div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
        <div class="row">
            <div class="column width-6 offset-3">
                <div class="feature-content">
                    <div class="feature-content-inner pt-50">
                        <h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>03</strong></h4>
                        <h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">Escogé el medio de comunicación que investigará tu caso</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="column width-12">
                <div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
                    <img src="images/como-03.png" width="500" alt="" />
                </div>
                <u><a href="aliados.html">Estos son los medios aliados que trabajan con Subterráneo.</a></u>
            </div>
        </div>
    </div>

    <!-- 04-->
    <div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
        <div class="row">
            <div class="column width-8 offset-2">
                <div class="feature-content">
                    <div class="feature-content-inner pt-50">
                        <h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>04</strong></h4>
                        <h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">Conservá tu código de denuncia, con él podrás darle seguimiento a tu caso</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="column width-12">
                <div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
                    <img src="images/como-04.png" width="500" alt="" />
                </div>
            </div>
        </div>
    </div>

    <!-- 05-->
    <div class="section-block bkg-white comofunciona-1 overflow-visible pb-110">
        <div class="row">
            <div class="column width-6 offset-3">
                <div class="feature-content">
                    <div class="feature-content-inner pt-50">
                        <h4 class="mb-0 title-xlarge horizon" data-parallax="direction:vertical;speed:0.2;rotate:none;"><strong>05</strong></h4>
                        <h2 class="mb-0 horizon font-alt-1" data-parallax="direction:vertical;speed:0.1;rotate:none;">El caso podrá ser publicado por el medio que recibió la denuncia</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="column width-12">
                <div class="feature-image horizon" data-parallax="direction:vertical;speed:0.2;rotate:clockwise;opacity:fade;">
                    <img src="images/como-05.png" width="500" alt="" />
                </div>
            </div>
        </div>
    </div>

</section>
